body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(./GuessTheNumber.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1rem;
}

h1 {
    margin-top: 50px;
    text-transform: uppercase;
}

.img {
    position: absolute;
    top:0;
    
}
img {
    width: 100px;
    opacity: 0.4;
}
p {
    margin-top: 0;
}